html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
}

body
{
    font-family: Merriweather,Georgia,serif;
    color: white !important;
    background-color:white;
    font-weight: 300;
    overflow: hidden;
    display: flex;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}


h1{
font-size: 3rem;
font-weight: 600;
text-align: center;
}

h1
{
margin-bottom: 1.25%;
}

p{
    text-align: center;
}

a{
    color: #2d8dc5;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .container
    {
        margin: 3%;
    }

    h1
    {
        font-size: 1.75rem;
    }

    p
    {
        font-size: 0.9rem;
    }
}
