html, body
{
    width: 100%;
    padding: 0;
}

body
{
    font-family: Merriweather,Georgia,serif;
    color: white !important;
    background-color:white;
    font-weight: 300;
    overflow: hidden;
    display: flex;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.container
{
    padding: 1rem;
    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2%;
}


h1{
font-size: 1.2rem;
font-weight: 600;
}

h2
{
    font-size: 1.2rem;
    font-weight: 600;
}

h1, h2
{
margin-bottom: 1.25%;
}

p{
    line-height: 1.5rem;
    margin-bottom: 2.5%;
}

a{
    color: #2d8dc5;
}

.projects ul
{
    padding-left: 0;
    margin: 0.75em;
    margin-left: 0;
}

.projects li
{
    list-style-type: none;
    padding: 5px 5px 5px 0px;
    transition: all 1s ease;
    max-width: fit-content;
}


@media screen and (min-width: 1200px) {
        .projects li:hover
        {
        background-color:rgba(98, 98, 98, 0.9);
        }
}