html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
}

body
{
    font-family: Merriweather,Georgia,serif;
    color: white !important;
    background-color:white;
    font-weight: 300;
    overflow: hidden;
    display: flex;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.container
{
    padding: 1.75rem;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
font-size: 1.75rem;
font-weight: 700;
}

p{
    line-height: 1.3rem;
    margin-bottom: 2.5%;
}

a{
    color: #2d8dc5;
}

.links
{
    margin-top: 5%;
}

.link-container
{
margin-bottom: 5%;
}

.link-container > a:nth-of-type(2)
{
    margin-left: 2.5%;
}